@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  word-break: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::before,
  &::after {
    box-sizing: border-box;
  }

  :focus-visible {
    outline: 1px solid currentColor;
  }
}

html {
  height: 100%;
  color: var.$color_black;
  font-family: 'Noto Sans KR', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.15;
  -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
  -moz-text-size-adjust: none; /*Firefox*/
  -ms-text-size-adjust: none; /*Ie*/
  -o-text-size-adjust: none; /*old versions of Opera*/
}

body {
  height: 100%;
  margin: 0;
  background-color: var.$color_white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture {
  max-width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a {
  color: #000;
  text-decoration: none;

  &:active {
    color: inherit;
  }
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}

select::-ms-expand {
  display: none;
}

.react-datepicker-wrapper {
  width: 100%;
}
